---
title: 素晴らしいタイトル
---

<div>
  {{ title }} in sample-use-ymldata.hbs
</div>

<div>
  {{ hoge }} in data.yml
</div>

<div>
  {{ data2.fuga }} in data2.yml
</div>

<div>
  {{ myData }} in gulpfile
</div>

<div>
  {{ index.siteName }} in data.yml
</div>

<div>
  {{ test.siteName }} in data.yml
</div>
